.glassPadding {
  padding: 2rem 4rem;
}

.container {
  min-height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.15);
}

.hofTitle {
  text-align: center;
  color: var(--text-color-main);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.scoresTable {
  background-color: transparent;
  box-shadow: none;
  color: var(--text-color-main);
  text-shadow: 1px 1px 2px var(--glass-shadow-color);
  min-width: 30rem;

  display: flex;
}

@media screen and (max-width: 840px) {
  .glassPadding {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 640px) {
  .glassPadding {
    padding: 0.5rem 1rem;
  }

  .scoresTable {
    min-width: 25rem;
  }
}

@media screen and (max-width: 540px) {
  .glassPadding {
    padding: 0;
  }

  .scoresTable {
    min-width: 20rem;
  }
}
