.table {
  border-collapse: collapse;
  margin: 1rem;
  font-size: 0.9em;
  min-width: 15rem;
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-weight: bold;
  width: 100%;

  thead {
    background: var(--glass-bg-color-two);
    font-size: 1.1rem;
  }

  tr {
    :last-child {
      td {
        border-bottom: 0;
      }
    }
  }

  tr:nth-of-type(even) {
    background: var(--glass-bg-color-three);
  }

  th,
  td {
    margin: 0;
    padding: 0.5rem;
    border: 0.1rem solid var(--glass-bg-color-one);
  }
}
