.formContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.form {
  width: 100%;
  max-width: 360px;
  display: flex;
  flex-direction: column;
}

.answersContainer {
  display: flex;
  column-gap: 0.5rem;

  label {
    margin: 0;
    cursor: default;

    &:last-of-type {
      margin-left: 1.5rem;
    }
  }

  input {
    width: 1.5rem;
    cursor: pointer;
  }
}
