.formContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;

  color: var(--text-color-main);
  font-weight: 400;
  margin-top: 1rem;
}

.form {
  width: 40rem;
  max-width: 40rem;
  display: flex;
  flex-direction: column;
}

.answersContainer {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;

  label {
    margin: 0;
    cursor: default;

    &:last-of-type {
      margin-left: 1.5rem;
    }
  }

  input {
    height: 1.2rem;
    width: 1.2rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 715px) {
  .form {
    width: 30rem;
  }
}

@media screen and (max-width: 550px) {
  .form {
    width: 20rem;
  }
}
@media screen and (max-width: 400px) {
  .form {
    width: 100%;
  }
}
