.card {
    background-color: aqua;
    width: 16rem;
    height: 24rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}