@import "../../theme.module.scss";

.GameView {
  color: var(--text-color-main);

  .title {
    font-size: 2.5rem;
    padding-top: 3rem;
    text-align: center;
    margin-bottom: 2.5rem;
  }

  .information {
    text-align: center;
    padding: 0 200px;
    margin: 0 auto;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  .note {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
  }

  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 5rem;

    .buttonTrue {
      background: linear-gradient(
        45deg,
        rgba(5, 255, 0, 0.28) 0%,
        rgba(5, 255, 0, 0.46) 100%
      );
      font-size: 4.5rem;
      font-weight: 700;
      margin-right: 8rem;
      width: 25rem;
      height: 8rem;
      border-radius: 1.5rem;
      color: var(--text-color-main);
      border: 1px solid rgba(5, 255, 0, 0.28);
      box-shadow: 4px 4px 2px var(--glass-shadow-color);
    }

    .buttonTrue:hover {
      background: #0cd50cc7;
      cursor: pointer;
    }

    .buttonFalse {
      background: linear-gradient(
        225deg,
        rgba(239, 25, 25, 0.912) 0%,
        rgba(249, 28, 28, 0.723) 82%,
        rgba(243, 34, 34, 0.602) 100%
      );
      font-size: 4.5rem;
      font-weight: 700;
      width: 25rem;
      height: 8rem;
      border-radius: 1.5rem;
      color: var(--text-color-main);
      border: 1px solid rgba(239, 25, 25, 0.76);
      box-shadow: 4px 4px 2px var(--glass-shadow-color);
    }

    .buttonFalse:hover {
      background: #df0000cf;
      cursor: pointer;
    }
  }
}
