.App {
  min-height: 100vh;
  overflow: hidden; // ! watch out for this in mobile view

  background: linear-gradient(
    220deg,
    var(--bg-color-gradient-one) 0%,
    var(--bg-color-gradient-two) 70%,
    var(--bg-color-gradient-three) 100%
  );

  font-family: "Roboto", sans-serif;
  text-shadow: 2px 2px 0px var(--glass-shadow-color);
}
