:root {
  // Gradient colors
  --bg-color-gradient-one: #0031fa;
  --bg-color-gradient-two: #0c95e2;
  --bg-color-gradient-three: #25c3cd;

  // Glass elements colors
  --glass-bg-color-one: #ffffff80;
  --glass-bg-color-two: #ffffff66;
  --glass-bg-color-three: #ffffff40;

  --glass-border-color-one: #ffffff;
  --glass-border-color-two: #ffffff4d;

  --glass-shadow-color: #00000040;

  // Typography colors
  --text-color-main: #ffffff;
  --text-color-secondary: #e6e6e6;
}
