@import "../../theme.module.scss";

.homePage {
  min-height: 100vh;
  overflow: hidden; // ! watch out for this in mobile view
    background: linear-gradient(220deg,
          var(--bg-color-gradient-one) 0%,
          var(--bg-color-gradient-two) 70%,
            var(--bg-color-gradient-three) 100%);

  display: flex;
    flex-direction: column;
      justify-content: space-between;

  text-align: center;
  color: var(--text-color-main);
  position: relative;

  font-family: "Roboto", sans-serif;

  .fnn {
    font-family: "Merienda", cursive;
    font-size: 5.625rem;
    position: relative;
  }

  .fnnDesc {
    font-size: 1.5625rem;
    position: relative;
  }

  .missinf {
    position: relative;
    align-self: center;
  }
}

.home__canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.8;
  margin: 0;
  padding: 0;

  .gradient_canvas {
    width: 100%;
    height: 100%;
    --gradient-color-1: #c3e4ff;
    --gradient-color-2: #6ec3f4;
    --gradient-color-3: #eae2ff;
    --gradient-color-4: #b9beff;
    z-index: 0;
    margin: 0;
    padding: 0;
  }
}